/* Base styles for larger screens */
.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detail {
  display: grid;
  gap: 2rem;
}

.detail__card {
}

.detail__card-content {
  display: flex; /* Use Flexbox for layout */
  align-items: center; /* Vertically center content */
  gap: 2rem; /* Add gap between content and image */
}

.detail__card-data {
  /* Remove margin-top to align content vertically */
  margin-top: 0;
}

.detail__card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.detail__card-title h4 {
  font-size: 1.5rem;
}

.detail__card-title h5 {
  font-size: 1.25rem;
}

.detail__card-description {
  margin-top: 1rem;
}

.detail__card-img {
  max-width: 500px;
}

.detail__form {
  height: fit-content;
}

.detail__form-title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .card {
    padding: 1rem; /* Reduce padding on smaller screens */
  }

  .detail__card-content {
    flex-direction: column; /* Stack content vertically on smaller screens */
    text-align: center; /* Center content on smaller screens */
  }

  .detail__card-img {
    max-width: 100%; /* Make the image responsive within its container */
    margin-bottom: 1rem; /* Add some spacing below the image */
  }
}
