.desc_section {
  display: flex;
justify-content: center;
align-content: center;
margin: 0 9rem;
gap: 5rem;
margin-bottom: 5rem;
}
.imagedesc img {
  border-radius: 50px;
  width: 400px;
  height: 400px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  h2 {
    font-size: 4rem;
  }
  p {
    color: #000000;
    line-height: 3rem;
  }
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .desc_section{
  flex-direction: column;
  margin: 2rem;
  }
  .imagedesc {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 90%;
      height: 300px;
      border-radius: 1rem;
      border-radius: 10px;
    }
  }
  .content {
    gap: .7rem;
    h2 {
      font-size: 1rem;
    }
    p {
      line-height: 1.3rem;
      font-size: 0.9rem;
    }
  }
}

.heroDes {
  width: 100%;
  height: 100vh;
  color: #fff;
  position: relative;
}

.hero_img {
  width: 100%;
  height: 100vh;
  z-index: -1;
  filter: blur(2px);
}

.heroDes .content {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: auto;
}

.heroDes .content h2 {
  font-size: 4rem;
  font-weight: 700;
  background-color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featured {
  margin-top: 2rem;
}

.featured .featured-text {
  text-align: center;
  margin: 1rem 0;
}

.featured .container {
  --gap: 1.2rem;
  --num-cols: 5;
  --row-height: 300px;

  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap)
}

.featured .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.span-3 {
  grid-column: span 3;
}
.span-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.info-grid {
  display: block;
  grid-template-columns: repeat(2, 1fr);
}

.right-img-details .btn {
  margin: 1rem 0;
}

.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotelImgWrapper {
  width: 33%;
}

.featured .top {
  display: block;
  justify-content: space-between;
  align-items: center;
}

.featured .top .price {
  font-weight: 600;
  color: #008000;
  font-size: 1.5rem;
}

.featured .info {
  display: flex;
  justify-content: space-between;
  margin: .8rem 0;
  width: 60%;
}

.featured .bold {
  font-weight: 600;
  margin-right: 1rem;
}

.secsocial {
  display: flex;
  justify-content: space-around;
  cursor: pointer;

  .face{
      color: blue;
  }
  .tiktok{
      color: black;
  }
  .insta{
      color: rgb(241, 114, 135);
  }
  .twitter{
      color: lightblue;
  }
  .whats{
      color: green;
  }
}

.iframe{
  position: relative;
  display: flex;
  background: #eee;
  box-shadow: 0 8px 8px -4px lightcoral;

}

.ff{
  position: relative;
  text-align: center;
  color: white;
  cursor: pointer
}

.ffff{
  filter: blur(2px);
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold; 
  font-size: x-large;
}


@media screen and (max-width: 1024px) {
  .featured .container {
      --num-cols: 2;
      --row-height: 200px;
      --grap: .5rem;
  }

  .span-3 {
      grid-column: span 2;
  }

  .order-1 {
      order: 1;
  }
  .order-2 {
      order: 2;
  }
  .order-3 {
      order: 3;
  }
  .order-4 {
      order: 4;
  }
  .order-5 {
      order: 5;
  }
  .order-6 {
      order: 6;
  }
  .order-7 {
      order: 7;
  }

  .iframe{
      position: relative;
      display: flex;
      margin-bottom: 20;
  }
}

@media screen and (max-width: 1140px) {
  .secfooter{
      bottom: 100%;
  }


  .secfooter .secsocial {
      display: flex;
      justify-content: space-between;
      width: 200px;
  }
}

.heading {
  padding: 2.5rem;
  position: relative;
  margin-top: 100px;
  margin-bottom: 2%;
}

.heading::after{
  content: '';
  background: #f12c2c;
  width: 120px;
  height: 5px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);

}

.sername{
  font-weight: 600;
}

.table {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);         
}

.done{
  color: green;
}

.icon_close{
  color: red;
}
  

table {
  border: 2px solid transparent ;
  width: 500px;
  height: 200px;
  
}
  
th {
  border-bottom: 1px solid transparent;
}
  
td {
  text-align: center;
  border-bottom: 1px solid gray;
}

.menu_section{
cursor:pointer;
height: 16rem;
width: 100%;
margin: 5rem 0;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10rem;
position: relative;
overflow: hidden;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h1 {
      color:white;
    font-size: 3rem;
    width: 60%;
  }
  .downloads {
    display: flex;
    gap: 1rem;
    img {
      height: 3rem;
      cursor: pointer;
    }
  }
}
.screens {
  height: 22rem;
  position: absolute;
  bottom: -2rem;
  right: 1rem;
}
.btn{
  border : solid white;
  color : white;
}
.btn:hover{
  border : solid #e22020;
  transform: scale(1.5);
  transition: all 0.3s ease-in-out 0.2s;
  font-weight : bold;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .menu_section{
  flex-direction: column;
  height: max-content;
  gap: 4rem;
  padding: 2rem;
  }
  .info {
    h1 {
      font-size: 2rem;
      width: 100%;
    }
  }
  .screens {
    position: initial;
    height: 15rem;
  }
}

.btm{
  writing-mode: vertical-lr;
  position: sticky;
  top: 30%;
  z-index: 9;
  margin-top: 4%; 
}

.navbtm{
  justify-content: space-around;
  background-color: transparent;
}

.navbtm :hover{
  background-color: transparent;
}

@media (max-width: 767px) {
  .btm {
      display: none;
  }
}
