.featured{
    flex: 2.8;
    -webkit-box-shadow: 2px 4px 12px 2px rgba(0,0,0,0.47); 
    box-shadow: 2px 4px 12px 2px rgba(182, 179, 179, 0.37);
    padding: 10px;
    border-radius: 10px;

}
.top1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(128, 123, 123, 0.815);
}
.title{
    font-size: 18px;
    font-weight: bold;
}
.bottom{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fea{
    display: flex;
    justify-content: space-between;

}
.featuredChart{
    width: 100px;
    height: 100px;
}
.bottomtitle{
    font-weight: 700;
    color: rgb(117, 115, 115);
}
.amount1{
    font-size: 27px;
    text-align: center;
}
.summary{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.item{
    flex-direction: column;
    text-align: center;
}
.itemTitle{
    color: gray;

}
.itemResult{
    display: flex;
    align-items: center;
    margin-top: 10px;   
    font-size: 14px;
}
.itemResult.positive{
      color: green;
}
.itemResult.negative{
    color: red;
}
.icon9{
    cursor: pointer;
}