::-webkit-scrollbar {
    width: .6rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #dd1515;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #dd151583;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  