.foot {
  margin: 30px 200px 20px 200px;

  .top {
    display: flex;
    gap: 20px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;
      margin-left: 10px;

      h1{
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }

      span{
        color: gray;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: end;
    justify-content: space-around;
    margin-top: 50px;
    .left {
      display: flex;
      align-items: center;

      .logo{
        width: 170px; /* Set the width of your logo image */
        height: 70px;
        margin-left: -50px;
      }

      .copyright{
        margin-left: 20px;
        font-size: 5px;
        color: gray;
      }
    }
    .right {
      display: flex;
      align-items: center;

      p{
        font-weight: bold;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .foot {
    margin: 0px;
  }

  .foot span {
      flex-direction: column;
  }
}

.lower__footer {
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;
  border-top: 0.02rem solid var(--primary-color);
  padding-top: 1rem;
  margin-top: 1rem;
  ul {
    display: flex;
    list-style-type: none;
    gap: 3rem;
    li {
      transition: 0.5s ease-in-out;
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
