.foot {
  margin: 30px 200px 20px 200px;

  .top {
    display: flex;
    gap: 20px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;
      margin-left: 10px;

      h1{
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }

      span{
        color: gray;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    .left {
      display: flex;
      align-items: center;

      .logo{
        width: 170px; /* Set the width of your logo image */
        height: 70px;
        margin-left: 5px;
      }

      .copyright{
        margin-left: 20px;
        font-size: 5px;
        color: gray;
      }
    }
    .right {
      display: flex;
      align-items: center;

      p{
        font-weight: bold;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .foot {
    margin: 0px;
  }

  .foot span {
      flex-direction: column;
  }
}