.heroDes1 {
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    height: 100vh;
}

#video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.heroDes1 .des_content {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
}
.heroDes1 .des_content > h3{
    padding-bottom: 69px;
}
.form {
    display: flex;
    background-color: #ffffffcc;
    color: #000;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    ::placeholder{
        color: rgba(0, 0, 0, 0.623);
        opacity: 1;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: red;
      }
}

.form .inp {
    padding-left: 20px;
}
.hero_btn{
    background-image: linear-gradient(45deg,#008443 0%, #0084423d 100%);
  border: 1px solid #008443;
  color: #fff;
  padding: .6rem .9rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

  :hover{
    background-color: linear-gradient(45deg,#ff7070 0%,#e22020 100%);
  }
}

.form .inp[type=text] {
    border: transparent;
    background-color: transparent;
    width: 400px;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;

}

.form .inp[type=text]:focus {
    outline: none;
}

.form .icon {
    color: white;
    
}

.drop_sear{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown_data {
    background-color: #ffffffcc;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    color: #000;
    width:47%;
    align-items: center;
    border-radius: 8px;
  }
  
  .dropdown_data:empty {
    border: none;
  }
  
  .dropdown_data-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    z-index: 1;
    background-color: aquamarine;
    border-radius: 20px;
  }

@media screen and (max-width: 940px) {
    .form .inp[type=text] {
        max-width: 275px;
    }
    .dropdown_data {
        width: 100%;
    }

}